# 2-(1) : Monthly IBM stock, VW index, EW index, and S&P index returns

file : [m-ibm3dx2608.txt](https://faculty.chicagobooth.edu/-/media/faculty/ruey-s-tsay/teaching/fts3/m-ibm3dx2608.txt)

Page 35, 50, 51 Examples

## 2-(1)-1. Page 35 Example

### Load data
open the data file 'm-ibm3dx2608.txt' as data

In [1]:
import pandas as pd
from scipy.stats import boxcox
import numpy as np

data = pd.read_csv('m-ibm3dx2608.txt',delim_whitespace=True,index_col = 0)

In [2]:
data

            ibmrtn     vwrtn     ewrtn     sprtn
date
19260130 -0.010381  0.000724  0.023174  0.022472
19260227 -0.024476 -0.033374 -0.053510 -0.043956
19260331 -0.115591 -0.064341 -0.096824 -0.059113
19260430  0.089783  0.038358  0.032946  0.022688
19260528  0.036932  0.012172  0.001035  0.007679
...            ...       ...       ...       ...
20080829 -0.044929  0.011042  0.014066  0.012191
20080930 -0.039185 -0.098060 -0.120888 -0.090791
20081031 -0.205113 -0.184726 -0.206004 -0.169425
20081128 -0.116919 -0.085206 -0.136597 -0.074849
20081231  0.031373  0.021482  0.043083  0.007822

[996 rows x 4 columns]

### Get the IBM simple returns

In [3]:
sibm = data[['ibmrtn']]
sibm

            ibmrtn
date
19260130 -0.010381
19260227 -0.024476
19260331 -0.115591
19260430  0.089783
19260528  0.036932
...            ...
20080829 -0.044929
20080930 -0.039185
20081031 -0.205113
20081128 -0.116919
20081231  0.031373

[996 rows x 1 columns]

### 'sibm' Ljung-Box test (lag=5)

In [4]:
from statsmodels.stats.diagnostic import acorr_ljungbox

sibm_ljung_box_result = acorr_ljungbox(sibm, lags=[5], return_df=False)
print("sibm_Ljung-Box test result:\n", sibm_ljung_box_result)  # 5 is dgree of freedom

sibm_Ljung-Box test result:
     lb_stat  lb_pvalue
5  3.368222   0.643414

## 'libm' Ljung-Box test (lag=5)

In [5]:
import numpy as np
libm = np.log10(sibm+1)
libm

            ibmrtn
date
19260130 -0.004532
19260227 -0.010762
19260331 -0.053347
19260430  0.037340
19260528  0.015750
...            ...
20080829 -0.019964
20080930 -0.017360
20081031 -0.099695
20081128 -0.053999
20081231  0.013416

[996 rows x 1 columns]

In [6]:
libm_ljung_box_result = acorr_ljungbox(libm, lags=[5], return_df=False)
print("libm_Ljung-Box test result:\n", libm_ljung_box_result)  # 5 is dgree of freedom

libm_Ljung-Box test result:
     lb_stat  lb_pvalue
5  3.523579   0.619823