# 2_Demonstration_4.ipynb

In [4]:
import pandas as pd

# Load the data assuming 'm-ibm3dx.txt' is in the current working directory
# and the file has a header row
vw_data = pd.read_csv('./data/m-ibm3dx2608.txt', delim_whitespace=True, index_col = 0)
vw_data

            ibmrtn     vwrtn     ewrtn     sprtn
date
19260130 -0.010381  0.000724  0.023174  0.022472
19260227 -0.024476 -0.033374 -0.053510 -0.043956
19260331 -0.115591 -0.064341 -0.096824 -0.059113
19260430  0.089783  0.038358  0.032946  0.022688
19260528  0.036932  0.012172  0.001035  0.007679
...            ...       ...       ...       ...
20080829 -0.044929  0.011042  0.014066  0.012191
20080930 -0.039185 -0.098060 -0.120888 -0.090791
20081031 -0.205113 -0.184726 -0.206004 -0.169425
20081128 -0.116919 -0.085206 -0.136597 -0.074849
20081231  0.031373  0.021482  0.043083  0.007822

[996 rows x 4 columns]

In [5]:
# Extract the VW returns from the third column (indexed as 2 in Python)
vw_returns = vw_data.loc[:, ['vwrtn']]  # Modify this if the column index is different

In [6]:
# Calculate the cumulative product of (1 + returns)
t1 = (1 + vw_returns).prod()
print(t1)

vwrtn    1592.953481
dtype: float64

In [11]:
months = 996  # total number of months in the dataset
annualized_return = (t1 ** (12 / months)) - 1

annualized_return

vwrtn    0.092901
dtype: float64