# Linear Time Series Analysis and Its Applications

## A. Page 35. Example

## A-1. Load data
Replace 'path_to_file.txt' with your file path

In [12]:
import pandas as pd
from scipy.stats import boxcox
import numpy as np
from statsmodels.stats.diagnostic import acorr_ljungbox

data = pd.read_csv('m-ibm3dx2608.txt')

In [18]:
data

    date            ibmrtn           vwrtn         ewrtn         sprtn
0    19260130      -0.010381      0.000724      0.0...
1    19260227      -0.024476     -0.033374     -0.0...
2    19260331      -0.115591     -0.064341     -0.0...
3    19260430       0.089783      0.038358      0.0...
4    19260528       0.036932      0.012172      0.0...
..                                                 ...
991  20080829      -0.044929      0.011042      0.0...
992  20080930      -0.039185     -0.098060     -0.1...
993  20081031      -0.205113     -0.184726     -0.2...
994  20081128      -0.116919     -0.085206     -0.1...
995  20081231       0.031373      0.021482      0.0...

[996 rows x 1 columns]

## A-2. Ljung-Box test (lag=5)