# Chapter 1 Exercise 5

files : 

1. [Exchange rates of Canadian Dollar: d-cacus.txt](https://faculty.chicagobooth.edu/-/media/faculty/ruey-s-tsay/teaching/fts3/d-caus.txt)

2. [United Kingdom Pound: d-usuk.txt](https://faculty.chicagobooth.edu/-/media/faculty/ruey-s-tsay/teaching/fts3/d-usuk.txt)

3. [Japanese Yen: d-jpus.txt](https://faculty.chicagobooth.edu/-/media/faculty/ruey-s-tsay/teaching/fts3/d-jpus.txt)

4. [Euro: d-useu.txt](https://faculty.chicagobooth.edu/-/media/faculty/ruey-s-tsay/teaching/fts3/d-useu.txt)

Page 27 Exercise 5

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import skew, kurtosis

# Load data here
canada = pd.read_csv('d-caus.txt', delim_whitespace=True, index_col= ['year','mon','day'])
canada

                rate
year mon day
2000 1   4    1.4518
         5    1.4518
         6    1.4571
         7    1.4505
         10   1.4568
...              ...
2009 3   23   1.2322
         24   1.2263
         25   1.2245
         26   1.2327
         27   1.2392

[2323 rows x 1 columns]

In [17]:
# Load data here
UK = pd.read_csv('d-usuk.txt', delim_whitespace=True, index_col= ['date','mon','day'])
UK

               value
date mon day
2000 1   4    1.6370
         5    1.6415
         6    1.6475
         7    1.6384
         10   1.6374
...              ...
2009 3   23   1.4496
         24   1.4730
         25   1.4585
         26   1.4497
         27   1.4325

[2323 rows x 1 columns]

In [18]:
# Load data here
japan = pd.read_csv('d-jpus.txt', delim_whitespace=True, index_col= ['year','mon','day'])
japan

               value
year mon day
2000 1   4    103.09
         5    103.77
         6    105.19
         7    105.17
         10   105.28
...              ...
2009 3   23    97.30
         24    97.86
         25    97.70
         26    98.47
         27    97.99

[2323 rows x 1 columns]

In [23]:
# Load data here
euro = pd.read_csv('d-useu.txt', delim_whitespace=True, index_col= ['Date','Mon','Day'])
euro

               Value
Date Mon Day
2000 1   4    1.0309
         5    1.0335
         6    1.0324
         7    1.0294
         10   1.0252
...              ...
2009 3   23   1.3569
         24   1.3524
         25   1.3539
         26   1.3560
         27   1.3306

[2323 rows x 1 columns]

In [ ]:


# a) Compute daily log returns
currencies = ['CAD', 'EUR', 'GBP', 'JPY']  # Example currency codes
for currency in currencies:
    data[f'log_return_{currency}'] = np.log(data[currency] / data[currency].shift(1))

# b) Compute sample mean, standard deviation, skewness, excess kurtosis, min, and max
stats = {}
for currency in currencies:
    log_returns = data[f'log_return_{currency}'].dropna()
    stats[currency] = {
        'mean': log_returns.mean(),
        'std_dev': log_returns.std(),
        'skewness': skew(log_returns),
        'excess_kurtosis': kurtosis(log_returns, fisher=True),
        'min': log_returns.min(),
        'max': log_returns.max()
    }

# c) Discuss the empirical characteristics (this would be a qualitative assessment)

# d) Obtain a density plot of the daily log returns of dollar-euro exchange rate
plt.figure(figsize=(10, 6))
data['log_return_EUR'].plot(kind='density')
plt.title('Density Plot of Daily Log Returns of Dollar-Euro Exchange Rate')
plt.xlabel('Log Return')
plt.ylabel('Density')
plt.show()